.TimeLocation__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  40px 0;
}

.TimeLocation__text{
    color: white;
    font-size: 18px;
    font-weight: 200;
    line-height: 26px;

}

.TimeLocation__city{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

.TimeLocation__cityName{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 26px;
}